@charset "utf-8";
@import "reset";

#wrap {
	width: 100%;
	height: 100vh;
	position: relative;
	background: cadetblue;
	overflow: hidden;

	.swiper-wrapper {
		width: 100%;
		height: 100%;

		.swiper-slide {
			width: 60vw;
			height: 60vh;
			position: relative;
			top: 20vh;

			.inner {
				width: 100%;
				height: 100%;
				border: 1px solid #fff;
				background: rgba(255, 255, 255, 0.5);
				padding: 60px;
				font: bold 50px/1 arial;
				color: #999;
			}
		}
	}

	.swiper-pagination {
		//작업자 툴에서 고치고 싶은 구문을 찾아 수정
		position: absolute;
		left: auto;
		right: 10vw;
		top: 10vh;
		width: auto;

		span {
			width: auto;
			height: auto;
			background: transparent; //투명
			border-radius: 0px;
			margin-left: 60px;
			opacity: 0.7;

			&.swiper-pagination-bullet-active {
				//활성화된 페이지네이션 클래스명
				opacity: 1;
			}
		}
	}
}
